# `name` (required) is used to override the default decorator for elements in
# the stack.  This allows for more than one environment per account.
#  - This name can only contain alphanumeric characters.  If it is not provided 
#    here, it will be requested interactively.
name = "nomad"

# `key_name` (required) -  The name of the AWS SSH keys to be loaded on the
# instance at provisioning.  

# If it is not provided here, it will be requested interactively.
key_name = "my_key"

# `region` ("eu-west-1") - sets the AWS region to build your cluster in.
region = "eu-west-1"

# `ami` (required) - The base AMI for the created nodes, This AMI must exist in
# the requested region for this environment to build properly.
#  - If it is not provided here, it will be requested interactively.
ami = "ami-99999999999999999"

# `server_instance_type` ("t2.medium"), `client_instance_type` ("t2.medium"),
# `server_count` (3),`client_count` (4) - These options control instance size
# and count. They should be set according to your needs.
server_instance_type = "t3a.micro"
server_count         = "1"
client_instance_type = "t3a.micro"
client_count         = "1"

# Server root EBS volume size
# server_root_ebs_size   = 60

# Client root EBS volume size
# client_root_ebs_size   = 20

# Gluster EBS volume size
gluster_ebs_size = 60

# Delete Gluster data storage volumes on termination - defaults to false
# WARNING: false is highly recommended on production
# delete_gluster_vols_on_termination = true

# `whitelist_ip` (required) - IP to whitelist for the security groups (set
# to 0.0.0.0/0 for world).  
#  - If it is not provided here, it will be requested interactively.
// whitelist_ip = "0.0.0.0/0"
